
.add-agent-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    margin-left: 470px; margin-right: 30px;
    align-self: center;
    max-width: 1040px;
    overflow-x: scroll;
}

.add-agent-body-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 144px;
    align-items: flex-start;
    max-width: auto;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #858585;
    margin-right: 30px;
}

.add-agent-body-text > p {
    margin-bottom: 33px;
}

.add-agent-body-text-row1, .add-agent-body-text-row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 33px;
}

.add-agent-table-section, .add-agent-table-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    color: #858585;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 50px, 52px;
    padding: 40px;
    margin-bottom: 37px;
}

.add-agent-table-form {
    color: #858585;
    width: 100%;
    height: 400px;
    padding: none;
    margin: none;
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-x: scroll;
    
}

.aatfs {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.add-agent-table-form-button {
    height: 42px;
    width: 110px;
    border-radius: 100px;
    color: white;
    background: linear-gradient(178.18deg, #2AAE74 -13.56%, #2793EB 158.3%);
    border: none;
    margin-top: 32px;
    align-self: center;
}



@media screen and (max-width: 1400px) {
    .add-agent-body {
        margin-left: 300px;
    }

}


@media screen and (max-width: 900px) {
    .add-agent-body {
        margin-left: 30px;
    }
}